
.container
{
    width: 80%;
    margin: 0 auto;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: 
    "contact rate"
    "table   table";

}


th, td
{
    font-size: 20px;
    text-align: left;
}

.container2
{
    width: 100%;
    margin: 0 auto;
    display: grid;
    row-gap: 2px;
    grid-template-rows: auto;
}

.item-e, .item-f, .item-g, .item-h, .item-i
{
    margin: 5px;
    justify-self: center;
}
 
.item-a
{
    padding: 50px;
    grid-area: contact;
}
.item-b
{
    padding: 50px;
    grid-area: rate;
}
.item-c
{
    padding: 50px;
    grid-area: table;
}


@media (max-width: 800px)
{

    .item-a, .item-b, .item-c
    {
        padding: 20px;
    }

    h1
    {
        font-size: 40px;
    }
    p
    {
        font-size: 15px;
    }
    h3
    {
        font-size: 20px;
    }

    .container
    {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "contact"
        "rate"
        "table";
    }

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
        font-size: 10px;
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Skill"; }
	td:nth-of-type(3):before { content: "Level"; }
	td:nth-of-type(4):before { content: "Comment"; }
}