body
{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

main
{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    
}

.landingPage
{
    flex: 1 0 auto;
}

blockquote
{
    font-size: 1.4rem;
}

.carousel { 
    min-height: 450px !important;
}

nav
{
    border-bottom: 1px solid black;
}

.brand-logo
{
    margin-left: 10px;
}

.brand-logo
{   
    font-weight: 400 !important;
    font-size: 35px !important;
}

.nav-wrapper ul li a
{
    font-size: 18px;
}

.cpText
{
    font-size: 18px !important;
}

.current a
{
    color: #ff6000 !important;
}