.container
{
    width: 80%;
    margin: 0 auto;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: 
    "main main"
    "card1 card2";

}

table
{
    width: 100%;
}

th
{
    padding: 20px;
}

td
{
    text-align: center;
}

table, td, th
{
    border: 2px solid darkblue;
    border-collapse: collapse;
}

td
{
    padding: 10px;
}

h1
{
    color: darkblue;
}

.item-a
{
    border-radius: 5px;
    grid-area: main;
}
.item-b
{
    padding: 50px;
    grid-area: card1;
}
.item-c
{
    padding: 50px;
    grid-area: card2;
}

@media (max-width: 800px)
{

    h1
    {
        font-size: 40px;
    }

    p
    {
        font-size: 15px;
    }

    h2
    {
        font-size: 25px;
    }

    h3
    {
        font-size: 20px;
    }

    .container
    {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "main"
        "card1"
        "card2";
    }
}
